page-appinfo {
    .b{
        text-align: center;
        font-size: 40px;
        color: floralwhite;
    }
    .c{
        text-align: center;
        font-size: 17px;
        color: gray;
    }
    .d{
        text-align: center;
        font-size: 14px;
        color: gray;
    }
    .e{
        text-align: center;
        font-size: 14px;

    }
    .h{
        text-align: center;
        font-size: 19px;
        color: 	#D4AF37;
    }
    .j{
        
        font-size: 14px;
        color: lightyellow;

    }
    .Aligner-item {
        max-width: 50%;
      }
      .Aligner-item--top {
        align-self: flex-start;
      }
      .Aligner-item--bottom {
        align-self: flex-end;
      }
}
