page-prepaid{
    .ioninput{
        border: #ff8c00 solid 1px;
        border-radius: 10px;
        color: #fff;
    }

    .crypto ion-col{
        width: 50%;
    }
   
    ion-select{
        border: #ff8c00 solid 1px;
            border-radius: 10px;
            color: #fff;
            margin-left: 15px;
            max-width: 100%;
            
    }
    .label{
        margin-left: 30px;
    }

    
}

ion-label{
    font-size: 18px;
    color: #D4AF37;
}
ion-icon{
    color: #fff;
}

