page-prepaid{
    .ioninput{
        border: #ff8c00 solid 1px;
        border-radius: 10px;
        color: #fff;
    }
   
    ion-select{
        border: #ff8c00 solid 1px;
            border-radius: 10px;
            color: #fff;
            margin-left: 15px;
    }
    .label{
        margin-left: 30px;
    }
}

ion-label{
    font-size: 18px;
    color: #fff;
}
ion-icon{
    color: #fff;
}

