page-terms {
    
    h1{
        color: #fff;
        font-size: 14px;
        text-align: center;
    }
    p{
        color: #fff;
        font-size: 13px;
    }
    strong{
        color: #fff;
        font-size: 13px;
        text-align: center;
    }
}
