page-btcwithdraw {

    h1{
        text-align: center;
        color: #fff;
    }

    ion-input{
        color: #fff;
    }

    .btnclear{
        margin: 0px;
        background: grey;
    }

    ion-footer .button{
        margin-top: 5px; 
    }

    ion-icon{
        float: right;
    }

}
