page-myacc {

    .avatar{
        align-self: center!important;
        font-size: 80px;
    }

    .ava{
     align-content: center!important;

    }
    .em{
        align-self: center!important;
    }

}
