page-home {

    ion-input{
        color: #fff;
        border: #fff solid 1px;
        border-radius: 5px;
        padding-left: 10px;
    }

    ion-label{
        padding-left: 10px;
    }

    p{
        color: #fff;
    }

    .btn{
        border-radius: 5px;
        padding: 25px;
    }

    .img{
        width: 300px;
        height: 180px;
        margin: 0px;
        padding: 0px !important;
        
    }

    .img1{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
        width: 100%;
        height: 100%;
    }

    .item-block .item-inner {
        border-bottom: none !important;
    }


}

.toastclr{
    color: red !important;
}
