page-home {

    ion-input{
        color: #fff;
        border: #fff solid 1px;
        border-radius: 5px;
        padding-left: 10px;
    }

    ion-label{
        padding-left: 10px;
    }

    p{
        color: #fff;
    }

    .btn{
        border-radius: 5px;
        padding: 25px;
    }

    .img{
        width: 220px;
        height: 90px;
        margin: 0px;
        padding-bottom: 0px !important;
        margin-bottom: 0px;
        text-align: center;
        
    }

    ion-item{
        padding: 0px auto;
    }

    .img1{
        text-align: center;
    }

    .item-block .item-inner {
        border-bottom: none !important;
    }


}

.toastclr{
    color: red !important;
}
