page-deposit {

    .ioninput{
        border: #ff8c00 solid 1px;
        border-radius: 10px;
        padding-left: 12px;
        color: #fff;
        
    }

    ion-label{
        padding-left: 12px;
        color: #fff;
    }

    .amnt{
      
        margin-bottom: 10px;
    }

    .comm{
        border: #ff8c00 solid 1px;
        border-radius: 10px;
        padding-left: 20%;
    }

    .comm1{
        margin-left: 45%;
    }

    .pymntlbl{
        text-align: center;
    }

    .img{
        width: 80px;
        height: 30px;
        
    }

    .pymnt{
        text-align: center;
        border: #ff8c00 solid 1px;
    }

    .btn{
        height: 25px;
    }

    .btn1{
        background: #0000ff;
    }

    p{
        color: #fff;
    }

    ion-input{
        color: #fff;
    }

    .paynow{
        text-align: center;
    }

     ion-footer{
         background-color: #fff;
     }

     ion-footer .button{
        margin: 0px;
        padding: 30px 0;
    }

}

