<!--
  Generated template for the BtcbuysuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BTC Buy History</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-label class="cmplt">Transaction Completed Successfully</ion-label>
  <p><ion-icon name="checkmark-circle"></ion-icon></p>
  <ion-item>
    <ion-label>New BTC Balance: {{valuu}}</ion-label>
  </ion-item>

  <ion-label>History</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col>
        <strong>Date Time</strong>
        <p class="para" *ngFor ="let date of dates">{{date}}</p>  
      </ion-col>
      
      <ion-col>
        <strong>Qty Bought</strong>
        <p class="para" *ngFor ="let btc of btcs">{{btc}}<br></p> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
