page-myethwallet {

    

        ion-content{
            text-align: center;
            color:#fff;
        }

        h1{
            color: #fff;
          }
      
    
        .btncolor{
            background: #35B253;
        }
    
    

}
