<!--
  Generated template for the WalletsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton color="mycolor">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Wallets</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="background" (load)="usdwallet()">
  <ion-item>

      <div class="eth_sec">
  
        <div class="eth_logo">
            <img class="img" src="assets/imgs/btc.png">
        </div>
  
        <div class="eth_header" *ngFor="let coin of coins">
          <h1>Bitcoin</h1>
          <h2>Price: {{coin.price_usd | json}}</h2>
        </div>
  
        <div class="eth_info" *ngFor="let coin of coins">
          <h4 color="subtle" [ngClass]="(coin.percent_change_1h > 0) ? 'positive' : 'negative'">1h: ({{coin.percent_change_1h}}%)</h4>
        </div>
  
        <div class="btc_buy">
          <a href="#" (click)="buyingbtc()">Buy</a>
        </div>
  
        <div class="eth_sell">
          <a href="#" (click)="sellingbtc()">Sell</a>
        </div>
  
        <div class="eth_wallet">
          <a href="#" (click)="btcwallet()">My Wallet</a>
        </div>

      </div>
    </ion-item>

    <ion-item>

      <div class="eth_sec">
  
        <div class="eth_logo">
            <img class="img" (click)="usdwallet()" src="assets/imgs/wallet.png">
        </div>
  
        <div class="eth_header">
          <h1 (click)="usdwallet()">USD Wallet</h1>
        </div>
  
        <div class="eth_info">
          <p (click)="usdwallet()" ([ngBind]) ="accbal">Balance: {{accbal.number}}<strong>Balance: {{accbal.number}}</strong></p>
        </div>
  
        <div class="usd_wallet">
          <a href="#" (click)="depositusd()">Deposit</a>
        </div>
  
        <div class="usd_wallet">
          <a href="#" (click)="withdrawusd()">Withdraw</a>
        </div>
  
  
      </div>
    </ion-item>

<ion-item>

  <div class="eth_sec">

    <div class="eth_logo">
        <img class="img" src="assets/imgs/eth.png">
    </div>

    <div class="eth_header" *ngFor="let eths of eth">
      <h1>Ethereum</h1>
      <h2>Price: {{eths.price_usd | json}}</h2>
    </div>

    <div class="eth_info" *ngFor="let eths of eth">
      <h4 color="subtle" [ngClass]="(eths.percent_change_1h > 0) ? 'positive' : 'negative'">1h: ({{eths.percent_change_1h}}%)</h4>
    </div>

    <div class="eth_buy">
      <a href="#" (click)="buyingeth()">Buy</a>
    </div>

    <div class="eth_sell">
      <a href="#" (click)="sellingeth()">Sell</a>
    </div>

    <div class="eth_wallet">
      <a href="#" (click)="ethwallet()">My Wallet</a>
    </div>



  </div>
</ion-item>

<ion-item>

  <div class="eth_sec">

    <div class="eth_logo">
        <img class="img" src="assets/imgs/litecoin.png">
    </div>

    <div class="eth_header" *ngFor="let ltcs of ltc">
      <h1>LiteCoin</h1>
      <h2>Price: {{ltcs.price_usd | json}}</h2>
    </div>

    <div class="eth_info" *ngFor="let ltcs of ltc">
      <h4 color="subtle" [ngClass]="(ltcs.percent_change_1h > 0) ? 'positive' : 'negative'">1h: ({{ltcs.percent_change_1h}}%)</h4>
    </div>

    <div class="eth_buy">
      <a href="#" (click)="buyinglite()">Buy</a>
    </div>

    <div class="eth_sell">
      <a href="#" (click)="sellinglite()">Sell</a>
    </div>

    <div class="eth_wallet">
      <a href="#" (click)="litewallet()">My Wallet</a>
    </div>



   </div>
 </ion-item>    
</ion-content>
