page-share {
ion-textarea{
    margin-top: 40px;
    background-color: #fff;
    height: 200px;
    border-radius: 3px 3px 3px 3px;
    border: solid 1px transparent;
    font-size: 20px;
    color: grey;
}
}
