page-btcdeposit {

    ion-content{
        text-align: center;
    }

    .btncolor{
        background: #35B253;
    }
    .comm{
        color: white;
        text-align: center;
        font-size: 16px;
        padding-left: 0px!important;

    }

    h1{
        color: #fff;
        text-align: center;
    }

    .img{
        width: 100px;
        height: 100px;
    }

}
