page-myusdwallet {

    ion-content{
        text-align: center;
    }

    .btncolor{
        background: #35B253;
        padding: 30px 0;
    }

    ion-footer .button{
        margin: 0px;
        padding: 30px 0;
    }

    h1{
      color: #fff;
    }


}
