page-myusdwallet {

    ion-content{
        text-align: center;
    }

    .btncolor{
        background: #35B253;
        margin: 0px;
        
    }

    ion-footer .button{
        margin-top: 5px;
       
    }

    h1{
      color: #fff;
    }

    ion-icon{
        text-align: center;
    }


}
